body {
  margin: 0;
  padding: 0;
  font-family: Berkshire Swash;
}

.font {
  font-size: 5vw;
}
.container p {
  font-size: 1.2vw;
}

.img img {
  width: 100%;
}
.bottom {
  bottom: -30px;
}

.right h1 {
  font-size: 2vw;
}
.size {
  font-size: 1.8vw;
}
.widthh {
  width: 10vw;
}
.name {
  font-size: 2vw;
}
.sz {
  font-size: 1.3vw;
}

.border-top {
  border-top: 1px solid white;
}
